server:
  port: 4004

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            # Route 0A: Auth Controller
            - id: auth-route
              uri: http://user-service:4003
              predicates:
                - Path=/api/auth/**
              filters:
                - StripPrefix=1

            # Route 0B: Admin Controller
            - id: admin-route
              uri: http://user-service:4003
              predicates:
                - Path=/api/admin/**
              filters:
                - StripPrefix=1

            # Route 0C: User Controller
            - id: user-route
              uri: http://user-service:4003
              predicates:
                - Path=/api/users/**
              filters:
                - StripPrefix=1

            # Route 1: Customers Controller
            - id: customers-route
              uri: http://garage-service:4000
              predicates:
                - Path=/api/customers/**
              filters:
                - StripPrefix=1
                - JwtValidation

            # Route 2: Carts Controller
            - id: carts-route
              uri: http://garage-service:4000
              predicates:
                - Path=/api/carts/**
              filters:
                - StripPrefix=1
                - JwtValidation

            # Route 3: Orders Controller
            - id: orders-route
              uri: http://garage-service:4000
              predicates:
                - Path=/api/orders/**
              filters:
                - StripPrefix=1
                - JwtValidation

            # Route 4: Service Types Controller
            - id: service-types-route
              uri: http://garage-service:4000
              predicates:
                - Path=/api/service_types/**
              filters:
                - StripPrefix=1
                - JwtValidation

            # Route 5A: Forward the Swagger UI page to the microservice
            - id: garage-swagger-ui-page
              uri: http://garage-service:4000
              predicates:
                # visit http://<gateway>/swagger/garage/
                - Path=/swagger/garage
              filters:
                # send to the microservice's /swagger-ui/index.html
                - SetPath=/swagger-ui/index.html
                - JwtValidation

            # Route 5B: Forward all Swagger UI static assets (css/js/png)
            - id: garage-swagger-ui-assets
              uri: http://garage-service:4000
              predicates:
                - Path=/swagger/garage/**
              filters:
                # strip the /swagger/garage/ prefix so assets resolve
                - RewritePath=/swagger/garage/(?<segment>.*),/swagger-ui/${segment}
                - JwtValidation

            # Route 5C: Forward the OpenAPI *config* that the UI calls automatically
            - id: garage-swagger-config
              uri: http://garage-service:4000
              predicates:
                - Path=/v3/api-docs/swagger-config
              filters:
                - SetPath=/v3/api-docs/swagger-config
                - JwtValidation

            # Route 5D: Forward the OpenAPI JSON the UI loads
            - id: garage-openapi-json
              uri: http://garage-service:4000
              predicates:
                - Path=/v3/api-docs
                - Path=/v3/api-docs/**
              filters:
                - JwtValidation